<!DOCTYPE html>
<html>
<link>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/static/packages/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/static/styles/main.css">
	<script src="/static/packages/angular/angular.min.js"></script>
	<script src="/static/packages/ngstorage/ngStorage.min.js"></script>
	<script src="/static/app/app.js"></script>
</script>
<body ng-app="app">
	<div class="container-fluid row" ng-controller="TodoController as todo">
		<div class="tasks-container col-lg-offset-3 col-sm-offset-2 col-lg-6 col-sm-8 col-xs-12">
			<h2 class="title">MEGA-TODO</h2>
			<div>
				<!-- Use here separate templater in future -->
				<button class="btn btn-filter" ng-class="todo.filterIsSelected(filterName)?'active':''"
				ng-click="todo.clickFilter(filterName)" ng-repeat="filterName in ::['active', 'finished', 'all']">
					Show <span ng-bind="::filterName"></span>
				</button>
			</div>

			<div class="row task-input-container" ng-controller="TodoInputFormController as todoForm">
				<div class="col-sm-10 input-field">
					<input class="form-control task-input" type="text" placeholder="enter your task"
					ng-model="todoForm.newThingText" ng-model-options="{ debounce: 100 }" ng-keydown="todoForm.onKeyDown($event)"/>
				</div>
				<button class="btn col-sm-2" ng-click="todoForm.addThingFromBuffer()">append</button>
			</div>

			<ul class="task-list">
				<li class="task-item row" ng-class="todo.thingIsFinished(thing.status)?'finished':''"
				 id="thing-{{::thing.id}}" ng-repeat="thing in todo.things"
				ng-show="todo.thingIsVisible(thing.status)">
					<label class="col-sm-11" ng-click="todo.processThing(thing)">
						<input type="checkbox"><span ng-bind="::thing.text"></span>
					</label>
					<div class="col-sm-1">
						<button class="btn btn-remove" ng-click="todo.removeThing(thing.id)">X</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
