/*---*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url("/static/images/texture.jpg");
}

body>.container-fluid {
    height: 100%;
}
/*---*/

/*---*/

/*task elements*/
.tasks-container {
    height: 100%;
    /*padding: 50px 10px;*/
    
    text-align: center;
    
    /*background: url("/static/images/texture.jpg") #49c;*/
}

.title {
    text-align: center;
}
/*---*/

/*task list*/
.task-list {
    /*display: inline-block;*/
    
    padding: 0;
    
    list-style: none;
}

.task-item {
    margin: 0;
    margin-bottom: 10px;
    
    text-align: left;
    font-size: 30px;
    
    color: #fff;
    background: url("/static/images/texture2.jpg") #49c;
}

.task-item label:active {
    color: #eee;
}

.task-item.finished label {
    text-decoration: line-through;
    
    color: rgba(250, 250, 250, 0.7);
}

.task-item input[type="checkbox"] {
    display: none;
}

/*things controls*/
.task-field {
    width: 70%;
}

.task-input-container {
    padding: 0;
    margin: 0;
}

.input-field{
    padding: 0;
}

.btn-remove {
    border-radius: 50%;
    
    font-size: 12px;
    
    color: #49c;
}

.btn-filter.active {
    color: #f00;
}
/*---*/